/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer

- Color Pallete
    #283739
    #228896
    #A9C52F
    #F5F5F5
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: #f5f5f5;
    color: #283739;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	color: #a9c52f;
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/


/* Header
--------------------------------------------- */
.site-header {
    background-color: #283739;
    text-align: center;
    color: #f5f5f5;
    flex: 1 1 auto;
    font-size: larger;
    padding: 2em 1em 0.4em;
}

.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.site-navigation a:hover {
    color: #a9c52f;
}

.site-navigation ul {
    list-style-type: none;
    padding: 0;
}

.site-navigation li {
    padding: 0.3em;
}


/* Main
--------------------------------------------- */
.homepage-landing-section {
    flex: 1 1 auto;
    margin: 1em 0 1em;
    display: flex;
    margin-bottom: 4em;
}

.homepage-landing-section h2 {
    margin: 0;
}

.homepage-landing-section-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

.homepage-landing-section-text {
    align-items: center;
    border: 1px solid #283739;
    display: flex;
    flex-wrap: wrap;
    line-height: 2em;
    margin-right: 1em;
    padding: 0.3em;
    justify-content: flex-end;
}

.homepage-landing-section-text-webdeveloper {
    color: #228896;
}

.homepage-landing-section-text-slash {
    color: orange;
    font-size: xx-large;
    font-weight: bolder;
}

.homepage-landing-section-text-designer {
    color: #a9c52f;
}

/* Footer
--------------------------------------------- */
