/*AUTHOR: JEAN (CHRISTIAN) GUILLERMO
--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
        | home-landing
        | about
        | projects
	- Footer

- Color Pallete
    #283739
    #228896
    #A9C52F
    #F5F5F5
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: #f5f5f5;
    color: #283739;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
}

/* Elements
--------------------------------------------- */


/* Links
--------------------------------------------- */
a:hover {
	color: #a9c52f;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/


/* Header
--------------------------------------------- */
.site-header {
    background-color: #283739;
    text-align: center;
    color: #f5f5f5;
    font-size: larger;
    padding: 0.4em 0;
}

.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.site-navigation ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.site-navigation li {
    padding: 0.3em;
}

.site-navigation a:hover,
.site-navigation li:hover {
    color: #a9c52f;
    background-color: #283439;
}
/* Main
--------------------------------------------- */


/* Homepage Landing Section */
.home-landing-section {
    margin-top: 2em;
    text-align: center;
}

.home-landing-section h1 {
    margin: 0;
}

.home-landing-section img {
    border-radius: 50%;
}

.home-hgroup-container {
    display: flex;
    flex-wrap: wrap;
}

.home-hgroup h2 {
    margin: 0;
    display: flex;
    align-items: baseline;
    padding: 0.2em;
}

.home-landing-section-text-webdeveloper {
    color: #228896;
}

.home-landing-section-text-slash {
    color: orange;
    display: inline-block;
    font-size: xx-large;
    font-weight: bolder;
}
.home-landing-section-text-designer {
    color: #a9c52f;
}

@media (min-width: 321px) {
    .home-landing-section {
        display: flex;
        align-items: center;
        padding-left: 20%;
        padding-right: 20%;
    }
}


/* About Section */
.about-section {
    background-color: #228896;
    background: linear-gradient(90deg, #228896 0%, #32516e 90%, #283439 100%);
    color: #f5f5f5;
    margin: 1.5em 0;
}

@media (min-width: 321px) {
    .home-hgroup-container {
        margin-right: 1em;
        justify-content: right;
    }

    .home-hgroup h2 {
        justify-content: center;
        font-size: xx-large;
    }
}


/* Projects Section */
.atBCIT {
    color: #a9c52f;
}

.projects-section h2 {
    background-color: #32516e;
    color: #f5f5f5;
    font-size: xx-large;
    padding: 0 0.3em 0.2em 0;
    text-align: center;
    width: 100%;
    box-shadow: #283439 0rem 0.3125rem 0.3125rem;
}

.project-wrapper {
    box-shadow: #283439 0rem 0.3125rem 0.3125rem;
}

.projects-container {
    gap: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project {
    position: relative;
    text-align: center;
}

.project-text {
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    
    background-color: #f5f5f590;
    color: #f5f5f5;
    font-size: xx-large;
    text-shadow: #283439 0.3125rem 0.3125rem 0.3125rem;
}

.project img {
    width: 300px;
    height: 300px;
}

@media (min-width: 321px) {
    .projects-container {
        display: flex;
        flex-direction: row;
        gap: 2.5em;
        width: 100%;
    }
}

/* Footer
--------------------------------------------- */
footer {
    background-color: #283439;
    color: #f5f5f5;
    padding: 1em;
    margin-top: 3em;
}

.copyright {
    font-weight: bold;
}