/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer

- Color Pallete
    #283739
    #228896
    #A9C52F
    #F5F5F5
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	background-color: #f5f5f5;
    color: #283739;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	color: #a9c52f;
}

a:focus {
	
}

a:active {
	
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/


/* Header
--------------------------------------------- */
.site-header {
    background-color: #283739;
    text-align: center;
    color: #f5f5f5;
    font-size: larger;
    padding: 1em 0 0.4em;
}

.site-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

.site-navigation ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.site-navigation li {
    padding: 0.3em;
}

.site-navigation a:hover,
.site-navigation li:hover {
    color: #a9c52f;
    background-color: #283439;
}
/* Main
--------------------------------------------- */

/* Homepage Landing Section */
.home-landing-section {
    margin-top: 2em;
    text-align: center;
}

.home-landing-section h1 {
    margin: 0;
}

.home-landing-section img {
    width: 75%;
    border-radius: 50%;
    overflow: hidden;
}

.home-hgroup-container {
    display: flex;
    flex-wrap: wrap;
}

.home-hgroup h2 {
    margin: 0;
    display: flex;
    align-items: baseline;
    padding: 0.2em;
}

.home-landing-section-text-webdeveloper {
    color: #228896;
}

.home-landing-section-text-slash {
    color: orange;
    display: inline-block;
    font-size: xx-large;
    font-weight: bolder;
}
.home-landing-section-text-designer {
    color: #a9c52f;
}

/* About Section */
.about-section {
    background-color: #228896;
    background: linear-gradient(90deg, #228896 0%, #32516e 90%, #283439 100%);
    color: #f5f5f5;
}

@media (min-width: 321px) {
    .home-hgroup-container {
        margin-right: 1em;
        justify-content: right;
    }
}
/* Footer
--------------------------------------------- */
